  /* -- GENERAL -- */

*{
    margin: 0px;
    padding: 0px;
}

h1,h2 {
    font-family: 'Roboto', sans-serif;
}

p,li,a {
    font-family: 'Open Sans', sans-serif;
}
 
:root{
--blue: #0b111f;
--ombra: 0px 0px 20px 0px rgba(0,0,0,0.64);
--white: white;
}

  /* -- NAV -- */

nav {
    display: block;
}

main{
    display: block;
    margin: 0px;
    padding: 0px;
}

.containerFlexNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--blue);
    width: 100%;
    height: 50px;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    z-index: 5;
}

#name {
    color: var(--white);
    padding: 25px;
    font-style: thin;
}

#navBar {
    padding: 25px;
}

#navBar li {
    display: inline-block;
    color: var(--white);
    padding-left: 10px;
    text-align: right;
}

#navBar li a {
    text-decoration: none;
    color: var(--white);
}

  /* -- MAIN -- */

  /* -- Press -- */

.boxPress {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    margin-top: 40px;
    border-top: 5px solid;
    border-color: var(--ombra);
}

.boxImgPress {
    height: 400px;
    width: 400px;
    background-image: url(./img/Manuel2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.boxPressText {
    display: flex;
    flex-direction: column;
    color: var(--white);
    padding: 15px;
    height: auto;
    width: 500px;
    overflow: hidden;
    font-size: 0.8em;
}

#pressH1{
    color: var(--blue);
}

#pressP {
    font-style: thin;
    color: var(--blue);
    line-height: 18px;
}

.boxImgPress, .boxPressText {
    margin: 50px;
}

/* -- Skills -- */

.boxBackSkilss {
    display: flex;
    flex-flow: row wrap;
    height: auto;
    width: 100%;
    background-color: var(--white);
    justify-content: center;
    align-items: center;
    box-shadow: var(--ombra);
}

.skillsTitle{
    padding-top: 50px;
}

#skillsBox1{
    display: flex;
    flex-flow: row wrap;
    height: auto;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 50px;
}

#skillsBox2{
    display: flex;
    flex-flow: row wrap;
    height: auto;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 50px;
}

#loghiBox {
    text-align: center;
    color: var(--white);
    height: 160px;
    width: 160px;
    margin: 15px;
}

#titleLogo {
    font-size: 25px;
    color: black;
    font-style: thin;
}


.js {
    background-image: url(./img/javascript.png);
    background-position: center;
    background-size: 55%;
    background-repeat: no-repeat;
}

.html {
    background-image: url(./img/html%20logo.png);
    background-position: center;
    background-size: 55%;
    background-repeat: no-repeat;
}

.css {
    background-image: url(./img/css.png);
    background-position: center;
    background-size: 55%;
    background-repeat: no-repeat;
}

.sql {
    background-image: url(./img/sql.png);
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
}

.php {
    background-image: url(./img/php.png);
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
}

.jquery {
    background-image: url(./img/jquery.png);
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
}

.bootstap {
    background-image: url(./img/bootstrap.png);
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}

.ph {
    background-image: url(./img/Photoshop.png);
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}

.pr {
    background-image: url(./img/PremierePro.png);
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}

.ae {
    background-image: url(./img/AfterEffects.png);
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}

.ind {
    background-image: url(./img/InDesign.png);
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}

/* -- Project -- */

.boxBackProjects {
    display: flex;
    flex-flow: row wrap;
    height: auto;
    width: 100%;
    background-color: var(--white);
    justify-content: center;
    align-items: center;
    box-shadow: var(--ombra);
    padding-top: 50px;
    padding-bottom: 50px;
}

.projectsTitle {
    text-align: center;
    width: 100%;
}

.boxProject {
    display: flex;
    flex-direction: row;
    background-color: var(--blue);
    margin: 20px;
    height: auto;
    width: auto;
    padding: 10px;
    box-shadow: var(--ombra);
    justify-content: center;
    align-items: center;
}

.boxImgProject {
    display: flex;
    height: 250px;
    width: 300px;
    background-image: url(./img/Prenotazione.png);
    background-position:center;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    border: 2px solid white;
    border-radius: 15%;
}

.boxPressProject {
    display: flex;
    flex-direction: column;
    background-color: var(--blue);
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-size: 0.8em;
    padding-left: 20px;
    text-align: center;
}

#pressProject {
    color: var(--white);
    text-decoration: none;
    text-align: center;
}

#pressProject a{
    color: var(--white);
}

#pressPr {
    color: var(--white);
    font-size: 1.2em;
}


/* -- FOOTER -- */

.containerFlexFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    width: 100%;
    height: auto;
    box-shadow: var(--ombra);
}

.footer {
    text-align: center;
    color: var(--white);
    padding: 25px;
    margin: 20px, 0px;
    font-size: 0.8em;
    line-height: 30px;
}

.footer p {
    text-decoration: none;
}



@media only screen and (max-width: 530px) {
    .containerFlexNav {
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #navBar, #name {
        padding: 5px;
    }

    #skillsBox1{
        display: flex;
        flex-flow: row wrap;
        height: auto;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        margin: 10px 25px;
    }
    
    #skillsBox2{
        display: flex;
        flex-flow: row wrap;
        height: auto;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        margin: 10px 25px;
    }

    #loghiBox {
        text-align: center;
        color: var(--white);
        height: 100px;
        width: 100px;
        margin: 7.5px;
    }

    #titleLogo {
        font-size: 15px;
        color: black;
        font-style: thin;
    }

}

@media only screen and (max-width: 530px) {
    .boxProject {
        display: flex;
        flex-direction: column;
        background-color: var(--blue);
        height: auto;
        width: auto;
        padding: 20px;
        box-shadow: var(--ombra);
        justify-content: space-around;
        align-items: center;
    }

    .boxImgProject {
        display: flex;
        height: 200px;
        width: 150px;
        background-image: url(./img/Prenotazione.png);
        background-position:center;
        background-size: cover;
        background-position:center;
        background-repeat: no-repeat;
        border: 2px solid white;
        border-radius: 15%;
    }

    .boxPressProject {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--blue);
        height: auto;
        width: 100%;
        overflow: hidden;
        font-size: 0.8em;
        padding-top: 10px;
    }
}